@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
  --primary-white: #fff;
  --primary-light-grey: #f4f4f4;
  --primary-grey: #ccd1d9;
  --primary-dark-grey: #666666;
  --primary-orange: #f9ab00;
  --primary-dark: rgb(59, 59, 59);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
  --primary-black: #000000;
  --primary-green: green;
}

body,
html {
  font-family: 'Roboto Condensed', sans-serif !important;
  background-color: var(--primary-white);
  font-size: 18px;
}

/************* NAVBAR *************/
nav {
  z-index: 2;
}

.logo {
  width: 5rem;
}

/************* MENU LINKS *************/
nav a.nav-link {
  font-size: 0.85rem;
  letter-spacing: 0.038rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  /*border-top: 0.1875rem solid var(--primary-dark);
  */
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0;
  height: 5.5rem;
}

@media (max-width: 768px) {
  .navbar-brand {
    width: 7rem;
  }
}

.navbar-nav > li > a.active,
.navbar-nav > li > a:focus {
  border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-orange);
}

/************* HEADER *************/
.header-wrapper {
  position: relative;
  top: 110px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(/src/images/background-header.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-bottom: 25px;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.main-info h1 {
  color: var(--primary-orange);
  text-transform: uppercase;
}

/************* TYPED TEXT *************/
.typed-text {
  font-size: 1.5rem;
  color: var(--primary-white);
}

@media (max-width: 768px) {
  .main-info h1 {
    font-size: 1.3rem !important;
  }

  .typed-text {
    font-size: 1.1rem !important;
  }
}

/************* HEADER MAIN OFFER BUTTON *************/
.btn-main-offer {
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  padding: 0.625rem 0.75rem 0.625rem 0.75rem;
  color: var(--primary-white);
  margin: 2rem;
  text-decoration: none;
}

.btn-main-offer:hover {
  text-decoration: none;
  background-color: var(--primary-hover-red);
  color: var(--primary-white);
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  text-decoration: none;
}

/************* PARTICLES JS *************/
.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

@media (max-width: 768px) {
  .particles-canvas {
    display: none;
  }
}

/************* ABOUT ME *************/
#about {
  position: relative;
  top: 110px;
  margin-bottom: 5rem;
}

.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  width: 14rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding: 0.3rem;
  border: 1px solid var(--primary-orange);
}

.about-heading {
  color: var(--primary-orange);
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 25px;
}

.row p {
  color: var(--primary-dark-grey);
}

@media (max-width: 468px) {
  .profile-img {
    width: 10rem;
  }
}

/************* SKILLS *************/
.skills {
  background: var(--primary-light-grey);
  /* position: absolute; */
  width: 100vw;
  padding: 3rem 0;
  margin-bottom: 25px;
  text-align: center;
  color: var(--primary-orange);
}

/************* EXPERIENCE *************/
.experience {
  /* background: var(--primary-light-grey); */
  /* position: absolute; */
  width: 100vw;
  padding: 3rem 0;
  margin-bottom: 25px;
}

.experience-wrapper {
  position: relative;
  padding: 3.125rem 0;
  overflow: hidden;
}

.experience h1 {
  text-transform: uppercase;
  color: var(--primary-orange);
}

.experience-wrapper::before {
  position: absolute;
  content: '';
  top: 0;
  left: 50%;
  margin-left: -0.0625rem;
  width: 0.125rem;
  height: 100%;
  background: var(--primary-grey);
  z-index: 1;
}

.timeline-block {
  width: calc(50% + 0.5rem);
  display: flex;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
  direction: rtl;
}

.timeline-block-left ul {
  direction: ltr;
}

.marker {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 0.3125rem solid var(--primary-dark);
  background: var(--primary-orange);
  margin-top: 0.625rem;
  z-index: 3;
}

.timeline-content {
  width: 95%;
  padding: 0 0.9375rem;
  color: var(--primary-dark-grey);
}

.timeline-content h3 {
  margin-top: 0.3125rem;
  font-weight: 900;
  color: var(--primary-red);
}

.timeline-content h4 {
  font-size: 1.2rem;
  font-weight: 900;
  text-transform: capitalize;
}

.timeline-content li {
  margin-bottom: 0.4rem;
}

.degree {
  font-size: 1.15rem;
}

/************* MEDIA *************/
@media (max-width: 768px) {
  .experience .container {
    padding-left: 0;
  }

  .experience-wrapper::before {
    left: 0.5rem;
    margin-bottom: 1.875 rem;
  }

  .timeline-block-right {
    float: none;
    width: 100%;
  }

  .timeline-block-left {
    float: none;
    direction: ltr;
    width: 100%;
  }
}

/************* PROJECTS *************/
.projects-wrapper {
  background: var(--primary-light-grey);
  padding: 3rem 0;
}

.projects-wrapper h1 {
  color: var(--primary-orange);
}

.image-box-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projects-image-box {
  position: relative;
  margin: 1rem;
}

.projects-image {
  width: 18rem;
  height: 200px;
  object-fit: cover;
  object-position: top left;
  border: 1px solid var(--primary-orange);
  padding: 0.6rem 0.6rem;
}

/************* OVERFLOW BOX *************/
.overflow {
  position: absolute;
  opacity: 0;
  background: var(--primary-black);
  width: 18rem;
  height: 11.1rem;
  top: 0;
  border: 1px solid var(--primary-red);
  cursor: pointer;
}

.projects-image-box:hover .overflow {
  opacity: 40%;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.projects-icon {
  position: absolute;
  opacity: 0;
  margin-left: -9.5rem;
  margin-top: 5rem;
  color: var(--primary-orange);
  font-size: 1.6rem;
}

.projects-image-box:hover .projects-icon {
  opacity: 100%;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  cursor: pointer;
}

.popupbox-wrapper {
  margin-top: 7rem;
}

/************* OVERFLOW POPUP BOX *************/

.projects-image-popupbox {
  width: 25rem;
  padding: 0.5rem 0.5rem;
}

.hyper-link {
  cursor: pointer;
  color: var(--primary-orange);
}

.hyper-link:hover {
  color: var(--primary-hover-red);
}

/************* MEDIA *************/
@media (max-width: 768px) {
  .projects-image-popupbox {
    width: 100%;
  }
}

@media (max-height: 570px) {
  .popupbox-wrapper {
    height: 100%;
  }
  .projects-image-popupbox {
    width: 50%;
  }
}

@media (max-height: 250px) {
  .popupbox-wrapper {
    height: 90%;
  }
  .projects-image-popupbox {
    width: 50%;
  }
}

/************* CONTACTS *************/
.contacts {
  background: var(--primary-dark);
  padding: 3rem 0;
}

.contacts h1 {
  color: var(--primary-orange);
  padding: 1.3rem 0;
  text-transform: uppercase;
}

/************* INPUTS *************/
.contacts input,
.contacts textarea {
  width: 100%;
  box-sizing: border-box;
  background: none;
  resize: none;
  border: 0;
  border-bottom: 0.125rem solid var(--primary-dark-grey);
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  color: var(--primary-white);
  outline: 0 !important;
  box-shadow: none !important;
  margin-bottom: 1rem;
  padding-left: 0;
}

.contacts .container {
  padding: 3rem 0;
}

.contacts input:focus,
.contacts textarea:focus {
  background: transparent;
  color: var(--primary-orange);
  border-bottom: 0.125rem solid var(--primary-dark-grey);
}

.contacts textarea {
  height: 8.8rem !important;
}

.contact-btn {
  margin: 1rem 0 0 0;
  width: 100%;
  background: none;
}

.line {
  position: relative;
  top: -0.8rem;
  width: 0;
  height: 0.125rem;
  background: var(--primary-orange);
  display: inline-block;
}

input:focus + .line,
textarea:focus + .line {
  width: 100%;
  transition: width 0.5s ease-in-out;
  -webkit-transition: width 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out;
  -ms-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
}

input.form-control,
textarea.form-control {
  margin: -0.3rem 0;
}

.error-message {
  color: var(--primary-white);
  background: var(--primary-hover-red);
  text-align: left;
}

.success-message {
  font-weight: 900;
  color: var(--primary-green);
}

/************* MEDIA *************/
@media (max-width: 768px) {
  .contacts {
    overflow-x: hidden;
  }

  .contacts .container {
    padding: 0.75rem 1rem;
  }
}

/************* FOOTER *************/
.footer {
  background: var(--primary-black);
  color: var(--primary-dark-grey);
  padding: 2.5rem;
}

.footer a {
  text-decoration: none;
  color: var(--primary-dark-grey);
}

.footer a:hover {
  text-decoration: none;
  color: var(--primary-orange);
  cursor: pointer;
}

a .footer-nav {
  margin-bottom: 1rem;
}

.footer .social-links {
  font-size: 2rem;
  padding: 0 1.5rem;
}

.footer .social-links a {
  color: var(--primary-dark-grey);
}

.footer .social-links a:hover {
  color: var(--primary-grey);
}

/************* MEDIA *************/
@media (max-width: 768px) {
  .footer .social-links {
    font-size: 1.6rem;
    padding: 0 1rem;
  }
}

@media (max-width: 600px) {
  div .social-media {
    margin-top: 1.5rem;
  }
}
